<div class="layout-slide">
  <ul class="slide-ul">
    <% if (isAdmin){ %>
    <li>
      <a href="/users.html">用户管理</a>
    </li>
    <% } %>

    <li>
      <a href="/goods.html">商品管理</a>
    </li>
    <!-- <li>
      <a href="/cook.html">厨具管理</a>
    </li>
    <li>
      <a href="/makeup.html">美妆管理</a>
    </li> -->
    <!-- <li>
      <a href="/food.html">食品管理</a>
    </li> -->
    <!-- <li>
      <a href="/cloth.html">服饰管理</a>
    </li> -->
    <!-- <li>
      <a href="/life.html">日用管理</a>
    </li> -->
    <li>
      <a href="/order.html">订单管理</a>
    </li>
  </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  // $('.slide-ul').on('click', 'li', function () {
  //   $(this).addClass("on").siblings().removeClass("on");
  //   var t = $(this).html();
  //   $('.tit').attr('t');
  // })
</script>
